
  .animated-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #ff6600 /* Por ejemplo, un color llamativo */
  }
  
  .aboutme-description {
    max-width: 900px;
    font-size: 26px;
    line-height: 1.6;
    color: var(--text);
    font-family: 'Bebas Neue', cursive;
  }

  @media (max-width: 600px) {
    .aboutme-section {
      padding-top: 2rem;
    }
  
    .animated-text {
      font-size: 2.5rem;  /* más pequeña en móvil */
      padding: 0 1rem;    /* un poco de margen lateral */
    }
  }
  

  /* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .aboutme-description {
      font-size: 1rem;
      line-height: 1.6;
      padding: 0 1.5rem;
      margin-top: 1.5rem;
      text-align: left; /* o center si lo prefieres */
    }
  }
  
  @media (max-width: 480px) {
    .aboutme-description {
      font-size: 0.95rem;
      padding: 0 1rem;
    }
  }