body {
  overflow-x: hidden;
}
.moving-banner-wrapper {
    margin-top: 50px;
    position: relative;
    width: 100vw; /* Ancho total de la ventana */
    overflow: hidden;
    background-color: #800020; /* Fondo semitransparente, cambia a gusto */
    border-top: 1px solid #800020;
    padding: 1rem 0;
    box-sizing: border-box;
  }
  
  .moving-banner {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    color: #f6f7e4;
    white-space: nowrap;
    user-select: none;
  }
  
  /* Responsive: ajustamos el tamaño de la fuente para pantallas pequeñas */
@media (max-width: 600px) {
  .moving-banner-wrapper {
    margin-top: 50px; /* o el valor que quieras */
  }

}
  
