  /* Tema claro/oscuro */
  :root {
    --bg: #f6f7e4 ;
    --text: #000;
  }
  
  .dark-mode {
    --bg: #121212;
    --text: #fff;
  }
  

.portfolio-container {
    background-color: var(--bg);
    background-position: center;
    background-attachment: fixed;  /* efecto parallax suave */
    min-height: 100vh;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .portfolio-container {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
 

  
