

.portfolio-container {
    background-color: black;
    background-position: center;
    background-attachment: fixed;  /* efecto parallax suave */
    min-height: 100vh;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .portfolio-container {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .hero-section {
    position: relative;
    padding: 8rem 2rem 6rem; /* solo laterales equilibrados */
    
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* por si est치s en mobile */
    margin-top:100px;
    color: white;
  }
  
  .hero-text {
   color: var(--text);
    font-family: 'Bebas Neue', sans-serif;
  }
  .hero-text h1{
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0.2em; /* m치s preciso que 2px */

  }

  .hero-subtitle{
    margin-top: 0; /* elimina espacio extra */
    font-size: 50px;
    max-width: 750px; /* o el valor que se ajuste bien */   
  }

  .hero-buttons {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
 
  .hero-btn {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .hero-btn.primary {
    background-color: #4d4f3e;
    color: white;
  }
  
  .hero-btn.secondary {
    background-color: transparent;
    border: 2px solid #4d4f3e;
    color: #4d4f3e;
  }
  

  .scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(6px);
    }
  }
  
  .scroll-down-arrow svg {
    color: #4d4f3e;
    width: 40px;      /* Aumenta tama침o horizontal */
    height: 40px;     /* Aumenta tama침o vertical */
  }
  

/* ------------- 游님 Responsive: M칩viles ------------- */
@media (max-width: 600px) {
   
  .hero-content {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 28px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-btn {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }

}

.contacto-section{
 width: 96%;            /* casi toda la pantalla */
  max-width: 1200px;     /* para limitarlo en pantallas grandes */
  margin: 80px auto; 
  padding: 40px;
  background-color: #800020; /* o #6B8E23 si prefieres verde oliva */
  border-radius: 24px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  color: #f6f7e4;
  text-align: center;
}


