  /* Tema claro/oscuro */
  :root {
    --bg: #eae7d6 ;
    --text: #000;
    --switch: #4d4f3e;
  }
  
  .dark-mode {
    --bg: #121212;
    --text: #fff;
        --switch: #4d4f3e;
  }


.portfolio-container {
    background-color: var(--bg);
    background-position: center;
    background-attachment: fixed;  /* efecto parallax suave */
    min-height: 100vh;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .portfolio-container {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .hero-section {
    position: relative;
    padding: 4rem 2rem 6rem; /* solo laterales equilibrados */
    
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* por si est치s en mobile */
    margin-top:100px;
    color: var(--text);
  }
  
  .hero-text {
   color: var(--text);
    font-family: 'Bebas Neue', sans-serif;
  }
  .hero-text h1{
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 0.2em; /* m치s preciso que 2px */

  }

  .hero-subtitle{
    margin-top: 0; /* elimina espacio extra */
    font-size: 50px;
    max-width: 750px; /* o el valor que se ajuste bien */   
  }

  .hero-buttons {
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero-btn {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .hero-btn.primary {
    background-color: var(--switch);
    color: white;
  }
  
  .hero-btn.secondary {
    background-color: transparent;
    border: 2px solid var(--switch);
    color: var(--switch);
  }
  

  .scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(6px);
    }
  }
  
  .scroll-down-arrow svg {
    color: #4d4f3e;
    width: 40px;      /* Aumenta tama침o horizontal */
    height: 40px;     /* Aumenta tama침o vertical */
  }
  

/* ------------- 游님 Responsive: M칩viles ------------- */
@media (max-width: 600px) {
  .hero-section {
    margin-top: 200px;
    
  }
  
  .hero-content {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 28px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-btn {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }

  .scroll-down-arrow svg{
   justify-items: center;
  }
}